html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

#partenza {
    position: fixed;
    width: 25vw;
    height: 30vh;
    left: 75vw;
}

#pista {
    width: 100vw;
    height: 800vh;
    position: absolute;
    background-color: white;
    /*
    animation: mymove_ski 16s infinite;
    animation-timing-function: linear;
    */
}

/*
@keyframes mymove_ski {
  0%   {top: 0px;}
  100% {top: -7000px;}
}
*/

.gigante {
    width: 60px;
    height: 60px;
    position: absolute;
    border-top: 50px solid #ff3300;
    border-left: 8px solid #ff3300;
    border-right: 8px solid #ff3300;
 }   

#sciatore {
    width: 40px;
    height: 100px;
    border-left: 12px solid black;
    border-right: 12px solid black;
    position: absolute;
    top: 10%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sinistra {
    position: fixed;
    width: 40vw;
    height: 99vh;
    touch-action: none;
}

.destra {
    position: fixed;
    width: 40vw;
    height: 99vh;
    left: 60vw;
    touch-action: none;
}
