html, body {
    margin: 0;
    padding: 0;
    width: 200vw;
    overflow: hidden;
    background-color: #80ffff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

#partenza {
    position: fixed;
    width: 20vw;
    height: 20vh;
    top: 0vh;
    left: 80vw;
}

#velocita {
    position: fixed;
    width: 20vw;
    height: 20vh;
    top: 0vh;
}

#partenza:hover {
  animation: mymoveSelection 1s;
}

@keyframes mymoveSelection {
  0%   {background-color: white;}
  100% {background-color: black;}
}

#pista, #neve {
    width: 100vw;
    height: 800vh;
    position: absolute;
}

#neve {
    background-color: white;
}

/*
@keyframes mymove_ski {
  0%   {top: 0px;}
  100% {top: -7000px;}
}
*/

.gigante {
    width: 60px;
    height: 60px;
    position: absolute;
    border-top: 50px solid #ff3300;
    border-left: 8px solid #ff3300;
    border-right: 8px solid #ff3300;
 }   

#sciatore {
    width: 30px;
    height: 80px;
    border-left: 14px solid black;
    border-right: 14px solid black;
    position: absolute;
    top: 10%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sinistra {
    position: fixed;
    width: 40vw;
    height: 99vh;
    touch-action: none;
}

.destra {
    position: fixed;
    width: 40vw;
    height: 99vh;
    left: 60vw;
    touch-action: none;
}
